<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569342099403-c4dpa5la365hc1o63qmh9aclcnjf7atq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569342099403-c4dpa5la365hc1o63qmh9aclcnjf7atq</string>
	<key>API_KEY</key>
	<string>AIzaSyCBcl3u3GnIvEmR7A4Sn0LDKnBydNbR-aY</string>
	<key>GCM_SENDER_ID</key>
	<string>569342099403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getApi</string>
	<key>PROJECT_ID</key>
	<string>flutter-7d4d2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-7d4d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569342099403:ios:77dc1295e62cda4929c04e</string>
</dict>
</plist>